.botao{
    display:inline;
}

.backspace{
    font-size: large;
    height:20px;
    display:flex;
    align-items: center;
}

.linha{
    display:flex;
    justify-content: space-around;
    padding:5px;
}

.tela{
    height:21px;
}

.linha_tela{
    border:2px solid red;
    padding:5px;
    background-color: black;
    color:white;
    font-size: 20px;

    display:flex;
    justify-content: end;
}

.linha_operadores{
    border:1px solid black;
    display:flex;
    justify-content: space-around;
    padding:5px;
}

body{
    padding-top: 10%;
    padding-left: 42%;
    padding-right: 38%;
    background-color: lightblue;
}
/*
display:flex;
align-itens:center;
justigy:content:center;

padding-top: 10%;
padding-left: 42%;
padding-right: 38%;
*/
.calc{
    border:3px solid black;
    width:200px;
    background-color:lightcyan;
    border-radius: 5px;
}

button{
    border:1px solid black;
    border-radius: 4px;
    background-color: lightgray;
}

button:active{
    background-color: black;
    color:white
}