.botao{
    display:inline;
}

.backspace{
    font-size: large;
    height:20px;
    display:flex;
    align-items: center;
}

.linha{
    display:flex;
    justify-content: space-around;
    padding:5px;
}

.tela{
    height:21px;
}

.linha_tela{
    border:2px solid red;
    padding:5px;
    background-color: black;
    color:white;
    font-size: 20px;

    display:flex;
    justify-content: end;

}

.linha_operadores{
    /*border:1px solid black;*/
    display:flex;
    justify-content: space-around;
    padding:5px;
}

body{
    background-image:linear-gradient(to right,lightblue,rgb(248, 150, 248));
    padding-left: 40%;
    padding-right: 40%;
    padding-top:10%;
}
/*
display:flex;
align-itens:center;
justigy:content:center;

padding-top: 10%;
padding-left: 42%;
padding-right: 38%;
*/
.calc{
    border:3px solid black;
    /*width:20%;*/
    /*background-color:darkslategrey;*/
    border-radius: 5px;
}

button{
    border:1px solid black;
    border-radius: 4px;
    font-size: larger;
}

button:active{
    background-color: black;
    color:white
}

.painel{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}